html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 .25em;
    box-sizing: border-box;
}

header{
    position: relative;
}

.logo{
    height: 2em;
    position: absolute;
    top: -.25em;
    right: .25em;
}

.how ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.how li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

.how .how-button {
    color: #666666;
    font-size: 2.4em;
    padding: .3em;
    border: 0;
    border-radius: .1em;
    background-color: #ffffff;
    outline: none;
}

.how .how-button:hover {
    background-color: #eeeeee;
}

.how .how-button--number-1.how-button--selected {
    background-color: rgb(153, 153, 153);
    color: #ffffff;
}

.how .how-button--number-2.how-button--selected {
    background-color: rgb(114, 163, 178);
    color: #ffffff;
}

.how .how-button--number-3.how-button--selected {
    background-color: rgb(76, 172, 204);
    color: #ffffff;
}

.how .how-button--number-4.how-button--selected {
    background-color: rgb(38, 181, 229);
    color: #ffffff;
}

.how .how-button--number-5.how-button--selected {
    background-color: rgb(0, 191, 255);
    color: #ffffff;
}

.why textarea {
    height: 40vh;
}

.history-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.save-button{
    float: right;
    font-size: 2em;
}

.history pre{
    font-family: Arial,Verdana,Tahoma,sans-serif;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}